Repository maphilipps/ZH-DEMO: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-field-patterns, validate-component-slots, validate-template-patterns, validate-sdc-compliance, prevent-xss-vulnerabilities

validate-field-patterns:
  name: Field Pattern Anti-Pattern Detection
  description: 'Validate that templates follow slot standardization patterns (Rule #21)'
  entry: web/themes/custom/adesso_cms_theme/scripts/validate-field-patterns.sh
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - commit
  - push
  ...

validate-component-slots:
  name: Component Slot Standards Validation
  description: Ensure components follow atomic design slot requirements
  entry: web/themes/custom/adesso_cms_theme/scripts/validate-component-slots.sh
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - commit
  - push
  verbose: true

validate-template-patterns:
  name: Template Pattern Compliance Check
  description: Validate embed + slots pattern usage in templates
  entry: web/themes/custom/adesso_cms_theme/scripts/validate-template-patterns.sh
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - commit
  - push
  verbose: true

validate-sdc-compliance:
  name: Comprehensive SDC Compliance Validation
  description: Complete slot standardization framework validation suite
  entry: web/themes/custom/adesso_cms_theme/scripts/validate-sdc-compliance.sh
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - push
  verbose: true

prevent-xss-vulnerabilities:
  name: XSS Vulnerability Prevention
  description: 'Detect dangerous |raw filter usage in Twig templates (Security Rule #1)'
  entry: bash
  language: script
  args:
  - -c
  ...

docs: Add deployment readiness assessment and quality improvement recommendations
  .work/093/deployment-readiness-assessment.md
  .work/093/quality-improvement-recommendations.md
Due: none

feat(pagination): Complete Phase 3.3 final integration - Swiss municipal portal pagination component ready for production deployment
  .work/98/plan.md
  .work/research/research-098.md
  doc/architecture/decisions/0003-pagination-accessibility-patterns.md
  doc/architecture/decisions/0004-swiss-government-compliance-implementation.md
  doc/architecture/decisions/0005-reusable-component-patterns.md
  web/themes/custom/adesso_cms_theme/components/pager/PHASE_3_1_STORYBOOK_INTEGRATION_REPORT.md
  web/themes/custom/adesso_cms_theme/components/pager/README.md
  web/themes/custom/adesso_cms_theme/components/pager/pager.stories.js.backup
  web/themes/custom/adesso_cms_theme/package-lock.json
  web/themes/custom/adesso_cms_theme/package.json
  web/themes/custom/adesso_cms_theme/storybook.log
  web/themes/custom/adesso_cms_theme/yarn.lock
Due: validate-sdc-compliance

docs: Add comprehensive production deployment guide and release notes
  RELEASE_NOTES.md
  web/themes/custom/adesso_cms_theme/PRODUCTION_DEPLOYMENT_GUIDE.md
Due: validate-sdc-compliance

feat: Complete Phase 4 ADR automation enhancement with Swiss municipal integration (#92)
  .claude/AUTOMATION_ENHANCEMENT_SUMMARY.md
  .claude/hooks/collaborative-adr-workflow-integration.js
  .claude/infrastructure/cross-project-learning-engine.js
  .claude/infrastructure/knowledge-synthesis.js
  .claude/infrastructure/multi-municipality-scaling-automation.js
  .claude/infrastructure/municipal-knowledge-graph.js
  .claude/infrastructure/predictive-adr-engine.js
  .claude/learning/adr-collaborations/learning-integration.json
  .claude/learning/adr-collaborations/phase-init-ADR-001-test-accepted-2025-09-06T16-22-02-394Z.json
  .claude/learning/adr-collaborations/phase-learning-ADR-001-test-proposed-2025-09-06T16-22-02-394Z.json
  .claude/learning/adr-collaborations/workflow-state-2025-09-06T16-21-44-499Z.json
  .claude/learning/patterns/compound-learning-ADR-001-test-2025-09-06T16-22-02-394Z.json
  .claude/learning/raw_reflection_log.md
  .claude/scripts/demo-automation-enhancements.js
  .claude/scripts/validate-automation-infrastructure.js
  .claude/tests/automation-enhancement-tests.js
  .claude/tests/infrastructure-validation-report-1757177715160.json
  .claude/workflows/collaborative-adr-readout-meetings.md
  .claude/workflows/collaborative-adr-workflow-integration-guide.md
  .claude/workflows/cross-functional-adr-review-process.md
  .claude/workflows/enhanced-agent-coordination-protocols.md
  .claude/workflows/implementation-validation-summary.md
  .claude/workflows/swiss-municipal-stakeholder-patterns.md
  .work/092/plan.md
  .work/092/research.md
  .work/research/research-092.md
  collaborative-adr-quality-validation-report.md
  comprehensive-adr-automation-quality-validation-report.md
  test-adr-minimal.md
Due: none

feat: Complete Phase 5 integration testing and final documentation for enhanced ADR system (#92)
  .claude/documentation/enhanced-adr-system-final-documentation-package.md
  .claude/integration/playwright-mcp-adr-integration-guide.md
  .claude/integration/storybook-adr-integration-guide.md
  .claude/tests/infrastructure-validation-report-1757178570923.json
  .claude/tests/integration-test-enhanced-adr-system.js
  CLAUDE.md
  enhanced-adr-system-integration-report.md
Due: none

--wip-- [skip ci]
  .claude/commands/init-ce.md
  .ddev/milvus/volumes/minio/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  .ddev/milvus/volumes/minio/.minio.sys/buckets/.usage-cache.bin/xl.meta
  .ddev/milvus/volumes/minio/.minio.sys/buckets/.usage.json/xl.meta
  .ddev/milvus/volumes/minio/.minio.sys/buckets/a-bucket/.usage-cache.bin/xl.meta
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/performance.yml
  .github/workflows/pr-preview.yml
  .github/workflows/review-lane-learnings.yml
  .github/workflows/security.yml
  .github/workflows/validate-frontend-workflow.yml
Due: none

feat: Add comprehensive Claude Code hooks for Swiss municipal development
  web/themes/custom/adesso_cms_theme/.claude/hooks/completion-validation.js
  web/themes/custom/adesso_cms_theme/.claude/hooks/pre-response.sh
  web/themes/custom/adesso_cms_theme/.claude/hooks/task-complete.sh
Due: validate-sdc-compliance

feat: Complete Phase 1 GPZH cleanup analysis and documentation (#90)
  .claude/learning/patterns/gpzh-cleanup-transformation-patterns.md
  .claude/templates/phase-2-initiation-checklist.md
  .work/90/plan.md
  .work/research/research-90.md
  doc/architecture/decisions/0002-gpzh-cleanup-strategy.md
Due: none

docs: Add comprehensive final ADR system validation report
  comprehensive-final-adr-system-validation-report.md
Due: none

feat: Implement comprehensive review feedback for Phase 1 documentation (#106)
  .claude/learning/patterns/gpzh-cleanup-transformation-patterns.md
  .claude/templates/agent-coordination-protocol.json
  .claude/templates/phase-2-coordination-example.json
  .claude/templates/phase-2-initiation-checklist.md
  doc/architecture/decisions/0002-gpzh-cleanup-strategy.md
Due: none

security: Fix critical XSS vulnerabilities in Foundation Link Component
  web/themes/custom/adesso_cms_theme/components/link/link.test.js
  web/themes/custom/adesso_cms_theme/components/link/link.twig
Due: validate-field-patterns, validate-template-patterns, validate-sdc-compliance, prevent-xss-vulnerabilities

feat: Implement WCAG 2.1 AA compliant breadcrumb SDC with critical navigation fixes
  web/themes/custom/adesso_cms_theme/adesso_cms_theme.libraries.yml
  web/themes/custom/adesso_cms_theme/components/breadcrumb-item/breadcrumb-item.behavior.js
  web/themes/custom/adesso_cms_theme/components/breadcrumb-item/breadcrumb-item.component.yml
  web/themes/custom/adesso_cms_theme/components/breadcrumb-item/breadcrumb-item.css
  web/themes/custom/adesso_cms_theme/components/breadcrumb-item/breadcrumb-item.stories.js
  web/themes/custom/adesso_cms_theme/components/breadcrumb-item/breadcrumb-item.twig
  web/themes/custom/adesso_cms_theme/components/breadcrumb/breadcrumb.behavior.js
  web/themes/custom/adesso_cms_theme/components/breadcrumb/breadcrumb.component.yml
  web/themes/custom/adesso_cms_theme/components/breadcrumb/breadcrumb.css
  web/themes/custom/adesso_cms_theme/components/breadcrumb/breadcrumb.stories.js
  web/themes/custom/adesso_cms_theme/components/breadcrumb/breadcrumb.test.js
  web/themes/custom/adesso_cms_theme/components/breadcrumb/breadcrumb.twig
  web/themes/custom/adesso_cms_theme/package-lock.json
  web/themes/custom/adesso_cms_theme/templates/navigation/breadcrumb.html.twig
  web/themes/custom/adesso_cms_theme/tests/breadcrumb-structured-data.test.js
  web/themes/custom/adesso_cms_theme/yarn.lock
Due: validate-field-patterns, validate-component-slots, validate-template-patterns, validate-sdc-compliance, prevent-xss-vulnerabilities

feat: Add automated migration and deployment scripts for Media component
  web/themes/custom/adesso_cms_theme/components/media/deploy-media-component.sh
  web/themes/custom/adesso_cms_theme/components/media/migrate-media-component.sh
Due: validate-sdc-compliance

docs: Capture compound engineering learning pattern for Media component
  .claude/learning/patterns/pattern_2025-09-06_media-component-implementation.md
Due: none

Path conditions:
  validate-field-patterns: any of: ^web/themes/custom/adesso_cms_theme/.*\.twig$
  validate-component-slots: any of: ^web/themes/custom/adesso_cms_theme/components/.*\.component\.yml$
  validate-template-patterns: any of: ^web/themes/custom/adesso_cms_theme/(components|templates)/.*\.twig$
  validate-sdc-compliance: any of: ^web/themes/custom/adesso_cms_theme/
  prevent-xss-vulnerabilities: any of: ^.*\.twig$
