Repository maphilipps/ZH-DEMO: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-field-patterns, validate-component-slots, validate-template-patterns, validate-sdc-compliance, prevent-xss-vulnerabilities

validate-field-patterns:
  name: Field Pattern Anti-Pattern Detection
  description: 'Validate that templates follow slot standardization patterns (Rule #21)'
  entry: web/themes/custom/adesso_cms_theme/scripts/validate-field-patterns.sh
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - commit
  - push
  ...

validate-component-slots:
  name: Component Slot Standards Validation
  description: Ensure components follow atomic design slot requirements
  entry: web/themes/custom/adesso_cms_theme/scripts/validate-component-slots.sh
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - commit
  - push
  verbose: true

validate-template-patterns:
  name: Template Pattern Compliance Check
  description: Validate embed + slots pattern usage in templates
  entry: web/themes/custom/adesso_cms_theme/scripts/validate-template-patterns.sh
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - commit
  - push
  verbose: true

validate-sdc-compliance:
  name: Comprehensive SDC Compliance Validation
  description: Complete slot standardization framework validation suite
  entry: web/themes/custom/adesso_cms_theme/scripts/validate-sdc-compliance.sh
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - push
  verbose: true

prevent-xss-vulnerabilities:
  name: XSS Vulnerability Prevention
  description: 'Detect dangerous |raw filter usage in Twig templates (Security Rule #1)'
  entry: bash
  language: script
  args:
  - -c
  ...

♻️ refactor: Consolidate duplicate button styling across SDC components (#63)
  web/themes/custom/adesso_cms_theme/components/button/button.component.yml
  web/themes/custom/adesso_cms_theme/components/button/button.stories.js
  web/themes/custom/adesso_cms_theme/components/button/button.twig
  web/themes/custom/adesso_cms_theme/components/newsletter-form/newsletter-form.twig
  web/themes/custom/adesso_cms_theme/components/pricing/pricing-card.twig
  web/themes/custom/adesso_cms_theme/components/site-footer/site-footer.twig
  web/themes/custom/adesso_cms_theme/templates/layout/header_video.html.twig
Due: validate-field-patterns, validate-component-slots, validate-template-patterns, validate-sdc-compliance, prevent-xss-vulnerabilities

Add Rule #27: False Technical Completion Prevention to CLAUDE.md
  CLAUDE.md
Due: none

--wip-- [skip ci]
  .claude/agents/compounding-engineering-orchestrator.md
  .claude/agents/feedback-codifier.md
  .claude/agents/knowledge-synthesizer.md
  .claude/commands/resolve_pr_comments.md
  .claude/commands/review.md
  .claude/commands/spec/create.md
  .claude/commands/spec/decompose.md
  .claude/commands/spec/execute.md
  .claude/hooks/worktree-ddev-setup.sh
  .claude/knowledge/error-prevention-rules.md
  .claude/knowledge/patterns/performance/query-optimization.md
  .claude/knowledge/patterns/security/xss-prevention.md
  .claude/knowledge/patterns/testing/meaningful-tests.md
  .claude/knowledge/triage/critical.md
  .claude/knowledge/triage/high.md
  .claude/knowledge/triage/low.md
  .claude/knowledge/triage/medium.md
  .codebasemap
  .ddev/milvus/volumes/minio/.minio.sys/tmp/.trash/14d5890e-0e0d-4470-ba79-cfd88000b8e7
  .ddev/milvus/volumes/minio/.minio.sys/tmp/.trash/7c1eb166-6ba6-4ed9-8bcb-28b2a20a7538
  .ddev/milvus/volumes/minio/.minio.sys/tmp/.trash/86095ad9-95f5-4718-8f71-54af51e9f449
  .ddev/milvus/volumes/minio/.minio.sys/tmp/.trash/aeb64a69-4d84-479b-b23c-ac19962aa4dd
  .ddev/milvus/volumes/minio/.minio.sys/tmp/.trash/d38aed03-0dc2-42d5-b5be-34bb7d9bd2cb
  .ddev/milvus/volumes/minio/.minio.sys/tmp/.trash/daf87e3d-9c53-4fcd-a0cf-7bdc6f7f913b
  specs/feat-pnx-frontend-build-tools-integration.md
  temp/pnx-frontend-architecture-spec.md
Due: none

Add .worktrees to .gitignore for better worktree management
  .gitignore
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Revert "Add claude GitHub actions 1756576289614"
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: resolve PR review comments - fix broken CI/CD pipelines
  .codebasemap
  .github/workflows/frontend-performance-monitoring.yml
  .github/workflows/security-scanning.yml
  scripts/security/csp-validator.js
  scripts/security/swiss-compliance-validator.js
  scripts/security/xss-template-scanner.js
  web/themes/custom/adesso_cms_theme/package.json
  web/themes/custom/adesso_cms_theme/vite.config.ts
Due: validate-sdc-compliance

fix: resolve pipeline dependency conflicts and report generation issues
  .codebasemap
  .github/workflows/frontend-performance-monitoring.yml
  .github/workflows/security-scanning.yml
Due: none

fix: use npm install instead of npm ci to handle missing package-lock.json
  web/themes/custom/adesso_cms_theme/package-lock.json
Due: validate-sdc-compliance

fix: update Node.js cache path from package-lock.json to package.json
  .github/workflows/frontend-performance-monitoring.yml
  .github/workflows/security-scanning.yml
Due: none

fix: add package-lock.json file for CI dependency resolution
  web/themes/custom/adesso_cms_theme/package-lock.json
Due: validate-sdc-compliance

fix: improve npm audit security logic to distinguish prod vs dev vulnerabilities
  .github/workflows/security-scanning.yml
Due: none

fix: remove problematic package-lock.json to resolve 'Invalid Version' error
  package-lock.json
  web/themes/custom/adesso_cms_theme/npm-audit-report.json
  web/themes/custom/adesso_cms_theme/yarn.lock
Due: validate-sdc-compliance

fix: restore proper package.json structure from main branch
  package.json
Due: none

temp: bypass npm install/audit to test pipeline architecture
  .github/workflows/security-scanning.yml
Due: none

--wip-- [skip ci]
  .claude/hooks/aw.md
  .claude/hooks/completion-validation.js
  .claude/hooks/completion-validation.md
  .claude/hooks/learn.md
  .claude/hooks/post-merge.sh
  .claude/hooks/pre-tool-use-aw.js
  .claude/hooks/pre-tool-use-learn.js
  .claude/hooks/test-failure.sh
  .ddev/milvus/volumes/minio/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  .ddev/milvus/volumes/minio/.minio.sys/buckets/.usage-cache.bin/xl.meta
  .ddev/milvus/volumes/minio/.minio.sys/buckets/.usage.json/xl.meta
  .ddev/milvus/volumes/minio/.minio.sys/buckets/a-bucket/.usage-cache.bin/xl.meta
Due: none

--wip-- [skip ci]
  .ddev/milvus/volumes/minio/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  .ddev/milvus/volumes/minio/.minio.sys/buckets/.usage-cache.bin/xl.meta
  .ddev/milvus/volumes/minio/.minio.sys/buckets/.usage.json/xl.meta
  .ddev/milvus/volumes/minio/.minio.sys/buckets/a-bucket/.usage-cache.bin/xl.meta
  .gitignore
  .work/plans/plan-090.md
  .work/plans/plan-091-sdc-analysis.md
  .work/research/research-090.md
  .work/research/research-091-sdc-analysis.md
Due: none

--wip-- [skip ci]
  .DS_Store
  .claude/commands/workflows/plan.md
  .claude/commands/workflows/research.md
  .claude/commands/workflows/work.md
  .ddev/milvus/volumes/minio/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  .ddev/milvus/volumes/minio/.minio.sys/buckets/.usage-cache.bin/xl.meta
  .ddev/milvus/volumes/minio/.minio.sys/buckets/.usage.json/xl.meta
  .ddev/milvus/volumes/minio/.minio.sys/buckets/a-bucket/.usage-cache.bin/xl.meta
Due: none

feat: Modernize ADR templates with MADR 4.0.0 framework integration (#92)
  .claude/agents/adr-reviewer.md
  .claude/guidelines/stakeholder-identification.md
  .claude/scripts/adr-status-check.sh
  .claude/templates/adr-template-annotated.md
  .claude/templates/adr-template-bare.md
  .claude/templates/adr-template-guide.md
  .claude/templates/adr-template-minimal.md
  .claude/templates/adr-template.md
  .claude/workflows/adr-status-workflow.md
  .ddev/commands/web/adr
Due: none

docs: Add ADR-0002 for Enhanced Research Workflow Architecture
  doc/architecture/decisions/0002-enhanced-research-workflow-architecture.md
Due: none

feat: Add Context7 Documentation Researcher agent for municipal portal development
  .claude/agents/research/context7-documentation-researcher.md
Due: none

feat: Implement Context7 MCP server integration for municipal portal development
  .claude/mcp-servers/context7/README.md
  .claude/mcp-servers/context7/agent-coordination.md
  .claude/mcp-servers/context7/config.json
  .claude/mcp-servers/context7/documentation-synthesis.js
  .claude/mcp-servers/context7/fallback-handler.js
  .claude/mcp-servers/context7/integration-tests.js
  .claude/mcp-servers/context7/monitoring-system.js
  .claude/mcp-servers/context7/municipal-queries.yml
  .claude/mcp-servers/context7/query-optimization-guide.md
Due: none

feat: Complete Phase 2 comprehensive schema validation framework for Swiss municipal pagination
  web/themes/custom/adesso_cms_theme/components/pager/PHASE_2_2_COMPREHENSIVE_VALIDATION_REPORT.md
  web/themes/custom/adesso_cms_theme/components/pager/PHASE_2_2_VALIDATION_REPORT.json
  web/themes/custom/adesso_cms_theme/components/pager/pager.component.yml
  web/themes/custom/adesso_cms_theme/components/pager/pager.css
  web/themes/custom/adesso_cms_theme/components/pager/pager.stories.js
  web/themes/custom/adesso_cms_theme/components/pager/pager.twig
  web/themes/custom/adesso_cms_theme/components/pager/schema-validation-test.js
  web/themes/custom/adesso_cms_theme/package-lock.json
  web/themes/custom/adesso_cms_theme/package.json
  web/themes/custom/adesso_cms_theme/yarn.lock
Due: validate-field-patterns, validate-component-slots, validate-template-patterns, validate-sdc-compliance, prevent-xss-vulnerabilities

feat: Enhance research workflow with Context7 integration and municipal compliance
  .claude/commands/workflows/research.md
  CLAUDE.md
Due: none

docs: Add comprehensive implementation documentation for issue #93 enhanced research workflow
  .work/093/context7-integration-implementation.md
  .work/093/plan.md
  .work/research/research-093.md
Due: none

docs: Add comprehensive Phase 1-2 documentation and Storybook preparation
  web/themes/custom/adesso_cms_theme/components/pager/ACCESSIBILITY_TEST_SUMMARY.md
  web/themes/custom/adesso_cms_theme/components/pager/PHASE_1_3_ACCESSIBILITY_VALIDATION_REPORT.md
  web/themes/custom/adesso_cms_theme/components/pager/STORYBOOK_INTEGRATION_REPORT.json
  web/themes/custom/adesso_cms_theme/components/pager/accessibility-test.html
  web/themes/custom/adesso_cms_theme/components/pager/storybook-integration-test.js
Due: validate-sdc-compliance

feat: Implement Foundation Link Component with Swiss Municipal Compliance (Issue #95)
  .work/95/research.md
  SECURITY_ANALYSIS_REPORT.md
  web/themes/custom/adesso_cms_theme/MIGRATION-VALIDATION.md
  web/themes/custom/adesso_cms_theme/adesso_cms_theme.libraries.yml
  web/themes/custom/adesso_cms_theme/components/button/button.stories.js
  web/themes/custom/adesso_cms_theme/components/button/button.twig
  web/themes/custom/adesso_cms_theme/components/card-group/card-group.stories.js
  web/themes/custom/adesso_cms_theme/components/card-group/card.twig
  web/themes/custom/adesso_cms_theme/components/heading/heading.stories.js
  web/themes/custom/adesso_cms_theme/components/heading/heading.twig
  web/themes/custom/adesso_cms_theme/components/link/link.behavior.js
  web/themes/custom/adesso_cms_theme/components/link/link.component.yml
  web/themes/custom/adesso_cms_theme/components/link/link.css
  web/themes/custom/adesso_cms_theme/components/link/link.stories.js
  web/themes/custom/adesso_cms_theme/components/link/link.test.js
  web/themes/custom/adesso_cms_theme/components/link/link.twig
  web/themes/custom/adesso_cms_theme/package-lock.json
  web/themes/custom/adesso_cms_theme/yarn.lock
Due: validate-field-patterns, validate-component-slots, validate-template-patterns, validate-sdc-compliance, prevent-xss-vulnerabilities

Path conditions:
  validate-field-patterns: any of: ^web/themes/custom/adesso_cms_theme/.*\.twig$
  validate-component-slots: any of: ^web/themes/custom/adesso_cms_theme/components/.*\.component\.yml$
  validate-template-patterns: any of: ^web/themes/custom/adesso_cms_theme/(components|templates)/.*\.twig$
  validate-sdc-compliance: any of: ^web/themes/custom/adesso_cms_theme/
  prevent-xss-vulnerabilities: any of: ^.*\.twig$
